h1 {
  color: pink;
}

h2 {
  font-style: italic;
  color: grey;
}

p. {
  color: red;
  font-style: italic;
}

li.flashy {
  color: red;
  font-style: italic;
}

body {
  background-color: salmon;
  font-family: sans-serif;
  text-align: center;


}